@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Open+Sans:wght@700&family=Playfair+Display&family=Poppins:wght@300;400;500;600&display=swap');
* {
    padding: 0 ;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;

}

body{
    background-color: rgba(205,205,217,255);
    text-align: center
}
.ques{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    font-size: 40px;
    font-weight:bolder;
    color:rgb(167, 141, 145) ;
}


.Parent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Pro {
    display: flex;
    height: 400px;
    width: 400px;
    background-color: rgba(203,203,216,255);   
}

.btn-div{
    margin-top: 30px;
    padding: 0 44% 0 44%;
    display: flex;  
    color: antiquewhite;
    justify-content:space-between;
    
} 

#yesButton,#noButton{
    background:rgb(167, 141, 145);
    padding: 8px 24px;
    color: white;
    font-size: 24px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    z-index: 1;
}
/* 
{
    background:rgb(167, 141, 145);
    padding: 8px 24px;
    color: white;
    font-size: 24px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    z-index: 0;
} */

#noButton:hover , #yesButton:hover{
    background:none ;
} 